/* Reset default margin and padding */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Body styles */
  body {
    font-family: Arial Black, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.6;
    background-image: url("about\ us.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(14, 12, 1);
    color: #fcf8f8;
  }
  
  /* Header styles */
  header {
    background-color: #530404;
    color: #ffffff;
    padding: 10px;
  }
  
  header h1 {
    margin: 0;
    font-size: 28px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Main styles */
  main {
    padding: 40px;
    background-image: url(13.jpg);
  }
  
  .Headdd{
    color:#181616;
    font-size: 20px;
    text-align: center;
  }
  
  #about {
    margin-bottom: 30px;
  }
  
  #about h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  #about p {
    margin-bottom: 10px;
  }
  
  #about h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .team-member {
    margin-bottom: 20px;
  }
  
  .team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .testimonial blockquote {
    background-color: #181616;
    border-left: 5px solid #f3eaea;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .testimonial blockquote p {
    margin-bottom: 5px;
  }
  
  .testimonial blockquote cite {
    font-style: italic;
  }
  
  /* Footer styles */
  footer {
    text-align: center;
    padding: 10px;
    background-color: #444;
    color: #fff;
  }
  